ml
*.ipr
*.iws
.idea
.DS_Store
.classpath
.ekstazi
.project
.tern-project
.settings
.checkstyle
*.log
test-salesforce-login.properties
dependency-reduced-pom.xml
id_file
components/camel-solr/data
*.epoch
/target/
